/*.elp-score {
  font-size: 80%;
  font-style: italic;
  color:#555;
  border: 1px solid silver;
  padding:20px;
}*/

.elp-date,
.elp-score,
.elp-score-notes {
  padding:20px;
}

.elp-date {
  background-color: #efefef;
  border: 1px solid #ddd;
}

.elp-score {
  border-left:1px solid #ddd;
  border-right:1px solid #ddd;
  font-size: 85%;
  font-style:italic;
  color:#515151;
}

.elp-score-notes {
  border-left:1px solid #ddd;
  border-right:1px solid #ddd;
  border-bottom:1px solid #ddd;
  margin-bottom:40px;
}

.elp-graph-wrapper {
  width:240px;
  margin:15px auto;
}

.elp-graph-data {
  height:40px;
  background-color:#ccc;
}
